*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    font-family:sans-serif;
}

.container{
    margin: 0px 35px;
}

.container1{
    margin: 0px 65px;
}

.headerdiv{
    width: 100%;
    height: 90px;
    padding: 19px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    z-index: 5;
    background-color: rgb(255, 255, 255);
}

.fortyfiveheaderlogo{
    width: 117px;
    height: 49px;
    margin-left: 40px;
    vertical-align: middle;
    cursor: pointer;
}

.navul{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.navlih{
    list-style: none;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 20px;
    cursor: pointer;
}

.navli{
    list-style: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 20px;
    opacity: 60%;
    cursor: pointer;
}

.section1div1img{
    width: 100%;
    height: 552px;
}
.section1div2img{
    width: 296px;
    position: absolute;
    top: 90px;
    left: 450px;
}
.section1div{
    position: relative;
}
.section1div3p1{
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    color: white;
    position: absolute;
    top: 340px;
    left: 320px;
}

.section1div3p2{
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
    color: white;
    position: absolute;
    top: 390px;
    left: 520px;
}
.section1div4P{
    position: absolute;
    top: 480px;
    left: 460px;
    color: transparent; 
    text-shadow:  0 1px 6px #fff, 0 0 1px #000; 
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 24px;
    padding: 18px 85px;
    background-color: white;
    cursor: pointer;
}

.section2sub1{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 80px;
    
}

.section2sub1img{
    width: 725px;
    height: 456px;
}

.section2sub1h2{
    font-size: 36px;
    font-weight: 400;
}

.section2sub1p{
    font-size: 14px;
    font-weight: 400;
    line-height:26px ;
    width: 330px;
    opacity: 70%;
}

.section2sub1p2{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: black;
    padding: 12px 25px;
}

.lacartdiv{
    display: flex;
    flex-direction: row;
}

.section2sub1div2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 25px;
}
.section2sub1div2-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-left: 40px;
}
.section2sub1div2-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-right: 40px;
}
.chairslight{
    width: 156px;
    height: 158px;
}
.chairslightdiv{
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-top: 25px;
}
.section3{
    height: 480px;
    margin: 0px 30px 24px 30px;
    background-color: rgb(231, 223, 211) ;
}
.section3divh3{
    font-size: 36px;
    font-weight: 600;
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: center;
}
.section3divp{
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    opacity: 60%;
}
.section3divhref{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 26px;
    padding: 16px 35px;
    background-color: black;
    color:color-mix(in srgb, white 70%, black 30%);
}
.section3div1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
}
footer{
    background-color: rgb(0, 63, 45);
    height: 550px;
}
.footerdiv1{
    padding: 81px 81px 40px 81px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
}
.footerdiv1img{
    width: 190px;
    height: 190px;
    cursor: pointer;
}
.footerdiv1p{
    color: white;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
}
.footerdiv1span{
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}
.footerdiv1div3li{
    list-style: none;
    margin-top: 7px;
}
.footerdiv1div3href{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}
.footerdiv1div3h2{
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}
.footerdiv1div4li{
    list-style: none;
    color: white;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
}
.footerdiv1div4li1{
    list-style: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.footerdiv2{
    border-bottom: 1px solid white;
    width: 900px;
    margin-left: 200px;
}
.footerdiv3{
    margin: 30px 98px;
    
}
.footerdiv3div1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footerdiv3div1t{
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    margin-left: 80px;
}
.footerdiv3div1t1{
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
}
.footerdiv3div1img{
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.footerdiv3div3{
    margin-right: 70px;
}
.footerdiv1div3li:hover{
    opacity: 50%;
}
.navli:hover{
    opacity: 100%;
}

.arrowimage{
    width: 31px;
    height: 40px;
}
.arrowdiv{
    position: fixed;
    top: 480px;
    left: 1190px;
    z-index: 6;
}

